
<app-search></app-search>
<app-tags *ngIf="tags" [foodPageTags]="tags"></app-tags>


<ul>
    @for (im of foods; track $index) {
        <li>
            <a [routerLink]="['/food',im.id]">
                <img [src]="im.imageUrl" alt="">
                <div class="content">
                    <div class="name">
                        {{im.name}}
                    </div>
                    <span class="fav {{im.favorite?'':'not'}}">
                        ❤️
                    </span>
                    <div class="product-item-footer">
                        <div class="origins">
                            @for (origin of im.origins; track $index) {
                                <span>
                                    {{origin}}
                                </span>
                            }
                        </div>
                        <div class="cook-time">
                            <i class="bi bi-alarm"></i> {{im.cooktime}}
                        </div>
                    </div>
                    <div class="price">
                        <span> {{im.price | currency}}</span>
                    </div>
                </div>
            </a>
        </li>
    }
</ul>