<ul>
  @for (item of food; track $index) 
{
  <li>
    <div>
      <img [src]="item.imageUrl" alt="{{ item.name }}" />
      <div class="content">
        <h3>{{ item.name }}</h3>
        <div class="product-item-footer">
          <div class="cook-time">
            <i class="bi bi-alarm"></i>{{ item.cooktime | cooktime}}
          </div>
        </div>
        <div class="price">
        Price: {{ item.price }}$
        </div>
        <button (click)="editFood(item)" class="btn btn-success">Edit</button> &nbsp;
        <button (click)="deleteFood(item.id)" class="btn btn-danger">Delete</button>
      </div>
      </div>
      
  </li>
    
} 
</ul>

  <!-- Formulaire pour modifier un plat -->
  <div *ngIf="selectedFood" class="edit-form">
    <h3>Edit {{ selectedFood.name }}</h3>
    <form (ngSubmit)="updateFood()">
      <label>
        Name:
        <input [(ngModel)]="selectedFood.name" name="name"  />
      </label>
      <label>
        Price:
        <input type="number" [(ngModel)]="selectedFood.price" name="price"/>
      </label>
      <label>
        Cook Time:
        <input [(ngModel)]="selectedFood.cooktime" name="cooktime"  />
      </label>
      <button type="submit">Save</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
  <button (click)="navigateToHome()">Retour à l'accueil</button>

  
