@for (item of food; track $index) 
{
    <div>
    <img [src]="item.imageUrl" alt="{{ item.name }}" />
    <h3>{{ item.name }}</h3>
    <p>Price: {{ item.price }}$</p>
    <p>Cook Time: {{ item.cooktime }}</p>
    <button (click)="editFood(item)">Edit</button>
    <button (click)="deleteFood(item.id)">Delete</button>
  </div>
} 
  <!-- Formulaire pour modifier un plat -->
  <div *ngIf="selectedFood" class="edit-form">
    <h3>Edit {{ selectedFood.name }}</h3>
    <form (ngSubmit)="updateFood()">
      <label>
        Name:
        <input [(ngModel)]="selectedFood.name" name="name"  />
      </label>
      <label>
        Price:
        <input type="number" [(ngModel)]="selectedFood.price" name="price"/>
      </label>
      <label>
        Cook Time:
        <input [(ngModel)]="selectedFood.cooktime" name="cooktime"  />
      </label>
      <button type="submit">Save</button>
      <button type="button" (click)="cancelEdit()">Cancel</button>
    </form>
  </div>
  <button (click)="navigateToHome()">Retour à l'accueil</button>

  
